<div class="container">
  <h1 style="margin-left:30px">Blog</h1>
  <div class="span8">
    <div class="blog roundme" style="background-color:rgba(48,48,48,0.8);color:#FFF0F5;">
      <div class="dates"><h4><%= @blog.created_at.strftime("%B %d, %Y")%></h4></div>
        <h2><%= @blog.title%></h2>
        <% if !@blog.image.blank?%> <div class="padder"><%= image_tag @blog.image %></div><% end%>
        <div class="padder"><%= @blog.body%></div>
      </div>
  </div>
  <div class="otherpages">
    <%= render :partial => "shared/sidebar"%>
  </div>
</div>