 <div class="pull-right">
   <div>
  <%= image_tag "insta.png", :height => "60px", :width => "60px", :class => "instagram_image"%>
  <%= image_tag "black_facebook.png", :height => "60px", :width => "60px", :class => "facebook_image"%>
  <%= image_tag "twitter_black.png", :height => "60px", :width => "60px", :class => "twitter_image"%>
  <%= link_to "","https://www.facebook.com/ElectricOak", :class => "facebook_link"%>
  <%= link_to "","http://instagram.com/electricoak", :class => "instagram_link"%>
  <%= link_to "","https://twitter.com/ElectricOak", :class => "twitter_link"%>
   </div>
      <div class="box">
          <iframe style="border: 0; width: 346px; height: 520px;" src="http://bandcamp.com/EmbeddedPlayer/album=3309672588/size=large/bgcol=333333/linkcol=ffffff/transparent=true/" seamless><a href="http://electricoak.bandcamp.com/album/electric-oak-2">Electric Oak by Electric Oak</a></iframe>
      </div>
  
      <div class="box">
        <iframe width="348" height="196" src="//www.youtube.com/embed/R788CYKcuS4" frameborder="0" allowfullscreen></iframe>
      </div>
      
      <div class="box" style="overflow:scroll;height:350px">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/ElectricOak" data-widget-id="377687615312384000">Tweets by @ElectricOak</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      
      <div class="box">
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FElectricOak&amp;width=339&amp;height=427&amp;colorscheme=dark&amp;show_faces=false&amp;header=true&amp;stream=true&amp;show_border=false&amp;appId=193700460708229" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:339px; height:427px;" allowTransparency="true"></iframe>
      </div>
    
</div>

<%= javascript_tag do %>
$('.facebook_image').bind("click", function(){
 $('.facebook_link')[0].click()
})
$('.instagram_image').bind("click", function(){
 $('.instagram_link')[0].click()
})
$('.twitter_image').bind("click", function(){
 $('.twitter_link')[0].click()
})
<% end %>

<style>

.box{
  background-color: rgba(48,48,48,0.8);
  margin-bottom:30px;
  margin-left:2%;
  padding-right: 7px;
  padding-left: 4px;
  padding-bottom: 4px;
  padding-top: 7px;
  border-radius: 10px;
  
}
.facebook_image,.twitter_image,.instagram_image{
  cursor: pointer;
}


</style>