<div class="container">
  <%= render :partial => "shared/sidebar"%>
   <h1>News</h1>
  <div class="span8">
    <% @news.each do |news|%>
    <div class="blog roundme" style="background-color:rgba(48,48,48,0.8);
    color:#FFF0F5;">
    <div class="dates"><h4><%= news.created_at.strftime("%B %d, %Y")%></h4></div>
    <h2><%= news.title%></h2>
    <% if !news.image.blank?%> <div class="padder"><%= image_tag news.image %></div><% end%>
    <div class="padder"><%= mac_format(news.body)%></div>
     </div>
    <% end %>
  </div>
</div>


