<div class="span4">
  <% news.each do |news|%>
  <div class="news roundme"  >
  <h4> <%= news.created_at.strftime("%B %d, %Y")%></br></h4>
   <h2><%= news.title.capitalize%></br></h2>
  <% if !news.image.blank?%><div style="border:1px solid black"><%= image_tag news.image_url%></br></div><% end%>
   <p><%= truncate(news.body, :length => 420)%></p></br>
     <div class="readme "><p><%= link_to "read more..", news_path(:id => news.id)%></p></div>
  </div>
  <% end %>
</div>
