<div class="center hero-unit">
  <h1>Welcome from Electric Oak!</h1>
  <p>
    You've found the home page of
    <%= link_to "Electric Oak", "https://www.facebook.com/ElectricOak?ref=br_tf" %>
    band.
  </p>
  <p>
    <%= link_to "Rock!", '#' %>
  </p>
   <p> <%= link_to 'Sign up For NewsLetter!',  "#" , class: "btn btn-large btn-primary" %> </p>
   <%= image_tag "/assets/electric.png"%>
   
   <%= render :partial => "blog", :locals => {:blog => @blog}%>
   
</div>