 <div class="container">
   <div class="otherpages">
      <%= render :partial => "shared/sidebar"%>
    </div>
   <div class="span7">
     <%= content_tag :h1, "Upcoming Shows" if @locations.count > 0 %>
     <%= render :partial => "location", collection: @locations, locals: {show_map: true, show_contact: true}%>
   </div>
   <div class="span7">
      <%= content_tag :h1, "Past Shows" if @old_locations.count > 0 %>
      <%= render :partial => "location", collection: @old_locations, :as =>:location, locals: {show_map: false,show_contact: false}%>
   </div>
</div>

<%= javascript_tag do %>
 panel($('.span7'));
<% end%>





