
   <div class="navbar-wrapper navbar-fixed-top" style= "background-color:black">
     <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
   

       <div class="navbar navbar-inverse">
         <div class="navbar-inner">
           <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
           <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="brand" href="#">Electric Oak</a>
           <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
           <div class="nav-collapse collapse">
             <ul class="nav">
               <li><%= link_to("Home",root_path)%></li>
               <li><%= link_to "News", news_index_path %></li>
               <li><%= link_to "Blogs",  blogs_path%></li>
               <li><%= link_to("About",about_path)%></li>
               <li><%= link_to("Photos", pictures_path)%></li>
               <li><%= link_to("Upcoming Shows",  locations_path)%></li>
               <li><%= link_to "Contact Band",new_message_path%></li>
             </ul>
           </div><!--/.nav-collapse -->
         </div><!-- /.navbar-inner -->
       </div><!-- /.navbar -->

   <!-- /.container -->
   </div><!-- /.navbar-wrapper -->


<style>
 .nav {
    padding-left: 3%;
  }
</style>

<script>
  var url = window.location;
  // Will only work if string in href matches with location
  $('ul.nav a[href="'+ url +'"]').parent().addClass('active');

  // Will also work for relative and absolute hrefs
  $('ul.nav a').filter(function() {
      return this.href == url;
  }).parent().addClass('active');
</script>



